<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
   

<app-header></app-header>

    <div id="demo" style="width:100%;" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="width:100%" src="../../assets//images/banner_manish.jpg" alt="Los Angeles">
            </div>
            <div class="carousel-item">
                <img style="width:100%" src="../../assets//images/banner_manish.jpg" alt="Chicago">
            </div>
            <div class="carousel-item">
                <img style="width:100%" src="../../assets//images/itrh_1.jpg" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <div class="container">
        <hr style="border-top: 3px solid black;">
    </div>

    <div class="container">
        <img style="width:100%" src="../../assets/images/sabysachi.jpg">
    </div>

    <div class="container">
        <hr style="border-top: 3px solid black;">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="width:100%;height:600px" src="../../assets/images/ekaya.jpg">
            </div>
            <div class="col-md-6">
                <img style="width:100%;height:600px" src="../../assets/images/mulmul.jpg">
            </div>

        </div>

    </div>

    <div class="container">
        <hr style="border-top: 3px solid black;">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="width:100%;height:600px" src="../../assets/images/celebrity.jpg">
            </div>
            <div class="col-md-6">
                <img style="width:100%;height:600px" src="../../assets/images/kyra.jpg">
            </div>

        </div>
    </div>

    <div class="container">
        <div class="separator">WEDDING CURATES</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img style="width:100%;height:600px" src="../../assets/images/twirl.jpg">
            </div>
            <div class="col-md-7">
                <img style="width:100%;height:600px" src="../../assets/images/the_groom.jpg">
            </div>
        </div>

    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img style="width:100%;height:600px" src="../../assets/images/bride.jpg">
            </div>
            <div class="col-md-5">
                <img style="width:100%;height:600px" src="../../assets/images/cape.jpg">
            </div>

        </div>

    </div>

    <div class="container">
        <div class="separator">SHOP BY DESIGNER</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img style="width:100%;height:600px" src="../../assets/images/jyoti.jpg">
            </div>
            <div class="col-md-4">
                <img style="width:100%;height:600px" src="../../assets/images/astha_narang.jpg">
            </div>
            <div class="col-md-4">
                <img style="width:100%;height:600px" src="../../assets/images/torana.jpg">
            </div>

        </div>

    </div>

    <div class="container">
        <div class="separator">ACCESSORY EDIT</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img style="width:100%;height:400px" src="../../assets/images/khusa.jpg">
            </div>
            <div class="col-md-4">
                <img style="width:100%;height:400px" src="../../assets/images/nath.jpg">
            </div>
            <div class="col-md-4">
                <img style="width:100%;height:400px" src="../../assets/images/galla.jpg">
            </div>

        </div>

    </div>

    <div class="container">
        <hr style="border-top: 3px solid black;">
    </div>


    <div class="container">
        <div class="separator">ACCESSORY EDIT</div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img style="width:100%;" src="../../assets/images/being.jpg">
            </div>
        </div>

    </div>

    <div style="background-color: black; height: 50vh;">
        <div class="row">
            <div  class="col-md-2">
                <div style="margin: 70px;">
                <h4 style="color: white;">CAMPANY</h4>
                <a style="display: flex; color: white; text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
            </div>
            </div>

            <div  class="col-md-2">
                <div style="margin: 70px;">
                <h4 style="color: white;">INFORMATION</h4>
                <a style="display: flex;color: white; text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
            </div>
            </div>


            <div  class="col-md-2">
                <div style="margin: 70px;">
                <h4 style="color: white;">SOCIAL</h4>
                <a style="display: flex;color: white; text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
                <a style="display: flex;color: white;text-decoration: none;" href="#"> About company </a>
                </div>
            </div>

            <div class="col-md-6">
                <div style="margin: 70px;" class="text-right">
                <h4 style="color: white;;">STAY IN TOUCH</h4>
                <input type="text" placeholder="Search" 
                style="padding: 10px; width: 100%;">
            </div>
            </div>



        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>